body {
	font-family: "Roboto", Arial, sans-serif;
	background-repeat: none;
	background-color: #f2f2f2;
}

.card {
	width: 77%;
	margin: 20px auto;
	height: 70%;
	
}

.card h1, h2 {
	text-align: center;
}

.next {
	display:none;
}

.styledButton {
	margin: 0 auto;
  width: 40%;
  border: 1px solid #333;
  border-radius: 4px;
  color: #c9a74c;
  text-shadow: -1px -1px #2b2b2b;
  font-size: 20px;
  background: rgba(112,112,112,1);
	background: -moz-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(60,60,60,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(112,112,112,1)), color-stop(100%, rgba(60,60,60,1)));
	background: -webkit-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(60,60,60,1) 100%);
	background: -o-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(60,60,60,1) 100%);
	background: -ms-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(60,60,60,1) 100%);
	background: linear-gradient(to bottom, rgba(112,112,112,1) 0%, rgba(60,60,60,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#3c3c3c', GradientType=0 );
}

ul {

}
li {
	padding:20px;
	list-style: none;
	position:relative;
}
li:hover {
	background-color: #c9a74c;
	cursor: pointer;
	color: #3c3c3c;
	border: 1px solid #9e844a;
}
button {
	width: 100%;
	height: 50px;
	display: block;
}

h3 {
	position:absolute;
	width: 100%;
	text-align:center;
    font-style: italic;
    top:0;
    left:0px;
}
.splashButton {
	margin-top:170px	;
}
.incorrect {
	color: black;
}
.status {
	text-align:right;
	padding: 20px;
	margin-top: 30px;
}
.totals {
	position: absolute;
	width: 100%;
	top: 0px;
	color: #c9a74c;
	background-color: #3c3c3c;
	text-align: center;
	padding: 10px 0px;
}

.js-answer-highlight{
	/*border: 1px solid #c9a74c;*/
	font-style: bold;
	background-color: #3c3c3c;
	color: #c9a74c;
}

.finalcard p{
  text-align: center;
}

.finalcard img {
	display: block;
  width: 25%;
  margin: 0 auto;
}