body {
	font-family: "Roboto", Arial, sans-serif;
}
.card {
	width: 77%;
	margin: 20px auto;
	height: 70%;
	
}

.card h1, h2 {
	text-align: center;
}

.next {
	display:none;
}
ul {

}
li {
	padding:20px;
	list-style: none;
	position:relative;
}
li:hover {
	background-color: #c9a74c;
	cursor: pointer;
	color: #3c3c3c;
	border: 1px solid #9e844a;
}
button {
	width: 100%;
	height: 50px;

}

h3 {
	position:absolute;
	width: 100%;
	text-align:center;
    font-style: italic;
    top:0;
    left:0px;
}
.splashButton {
	margin-top:170px	;
}
.incorrect {
	color: black;
}
.status {
	text-align:right;
	padding: 20px;
	margin-top: 30px;
}
.totals {
	position: absolute;
	width: 100%;
	top: 0px;
	color: #c9a74c;
	background-color: #3c3c3c;
	text-align: center;
	padding: 10px 0px;
}

.js-answer-highlight{
	/*border: 1px solid #c9a74c;*/
	font-style: bold;
	background-color: #3c3c3c;
	color: #c9a74c;
}

.finalcard p{
  text-align: center;
}

.finalcard img {
	display: block;
  width: 25%;
  margin: 0 auto;
}